{% extends "layout.html" %}
{% block content %}

<h2>Contact</h2>

<p>Sweet tart chupa chups dessert fruitcake jelly-o pastry jelly. Lollipop jujubes sweet
    carrot cake. Chupa chups cake carrot cake pastry powder sugar plum. Jujubes apple pie
    croissant cake powder gummi bears sesame snaps soufflé sugar plum. Pie bonbon caramels
    tiramisu.</p>

<p>Lemon drops croissant sesame snaps caramels. Carrot cake biscuit caramels toffee pie jelly
beans cookie apple pie candy canes. Halvah dragée carrot cake ice cream cotton candy
muffin pudding donut. Jelly-o tart sweet roll. Gummi bears chupa chups cookie toffee fruitcake.
Marshmallow cupcake cheesecake macaroon cake pastry candy bear claw dragée.</p>

{% endblock content %}